input{
    font-family: monospace;
    display: block;
    font-size:18px;
    padding: 15px;
    margin-bottom: 10px;
    border:1px solid #ffffff;
    border-radius: 15px;
    width:100%;
}

form{
    width:300px;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    background: linear-gradient(180deg, #E78EA9,#FFFBE7);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
body{
    background: linear-gradient(180deg, #40DFEF,#B9F8D3);
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
} 
.submit-buttom:hover{
    animation-name: background-color;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes background-color{
    0%{
        background: linear-gradient(180deg,#ffffff,#ffcccc);
        opacity: 0.1;
    }
    50%{
        background: linear-gradient(180deg,#ccffff,#ffcccc);
        opacity: 0.5;
    }
    100%{
        background: linear-gradient(180deg,#ccffff,#ffcccc);
    }
}
.placeholder{
    flex: 1;
}